<main class="wrapper">
  <div class="sections-wrapper">
    <section class="login-wrapper">
      <img
      src="/images/logo-black.png"
      class="login__logo"
      alt="Mind Cleaner"
    />
      <header class="login__header">
        Welcome back!
      </header>
        <form class="login__form" action="">
          <label for="log-nick">Nick</label>
          <input class="login__input" id= "log-nick" type="text" required />
          <label for="log-password">Password</label>
          <input class="login__input" id= "log-password" type="password" required />
          <p class="login__error">
          </p>
          <input class="login__send" type="submit" value="Sign in" />
        </form>
    </section>
    <section class="signup-wrapper">
      <header class="signup__header">
        <i class="fas fa-plus"></i> Create account
      </header>
        <form class="signup__form" action="">
          <p class="signup__success">
          </p>
          <label for="create-name">Name</label>
          <input class="signup__input" id= "create-name" type="text" required />
          <label for="create-nick">Nick</label>
          <input class="signup__input" id= "create-nick" type="text" required />
          <label for="create-password">Password</label>
          <input class="signup__input" id= "create-password" type="password" required />
          <p class="signup__error">
          </p>
          <input class="signup__send" type="submit" value="Sign up" />
        </form>
      </section>
  </div>
  </div>
</main>
