<main class="page-content" data-thought="<%= thoughtId %>">
  <header class="page-content__header">
    <h1 class="page-content__title">
      <%= name %>
    </h1>
  </header>
  <div id="add-task" class="add-task">
    <form class="add-task__form" action="/tasks" data-user=<%= userId %>>
      <label for="title">Title</label>
      <input
        class="add-task__input"
        id="title"
        type="text"
        value="<%= input %>"
        required
        />
      <label for="date">Deadline</label>
      <input class="add-task__input" id="date" type="date" required />
      <div class="add-task__wrapper">
        <input class="add-task__checkbox" id="someday" type="checkbox" />
        <label for="someday">No deadline</label>
      </div>
      <label for="details">Details (optional)</label>
      <textarea
        class="add-task__textarea"
        id="details"
        maxlength="350"
      ></textarea>
      <fieldset class="add-task__contexts">
        <legend>Contexts</legend>
        <div>
          <input class="add-task__checkbox" id="outside" type="checkbox" />
          <label for="outside" class="c-outside">outside</label>
        </div>
        <div>
          <input class="add-task__checkbox" id="home" type="checkbox" />
          <label for="home" class="c-home">home</label>
        </div>
        <div>
          <input class="add-task__checkbox" id="work" type="checkbox" />
          <label for="work" class="c-work">work</label>
        </div>
        <div>
          <input class="add-task__checkbox" id="shopping" type="checkbox" />
          <label for="shopping" class="c-shopping">shopping</label>
        </div>
        <div>
          <input class="add-task__checkbox" id="computer" type="checkbox" />
          <label for="computer" class="c-computer">computer</label>
        </div>
        <div>
          <input class="add-task__checkbox" id="phone" type="checkbox" />
          <label for="phone" class="c-phone">phone</label>
        </div>
      </fieldset>
      <label for="delegate">Delegated to (optional)</label>
      <input class="add-task__input" id="delegate" type="text" />
      <div class="controllers">
        <input class="controllers__reset" type="reset" value="Reset" />
        <input class="controllers__send" type="submit" value="Add" />
      </div>
    </form>
  </div>
</main>
