<div class="page-nav">
  <div class="welcome">
    Hello, <span class="welcome__user-name"><%= user %></span>!
  </div>
  <nav>
    <ul class="page-nav__list">
      <li class="page-nav__item" data-name="contexts">
        <a href="" tabindex="0" class="page-nav__link page-nav__link--sort"
          ><i class="fas page-nav__icon page-nav__icon--sort fa-at"></i>
          Contexts</a
        >
      </li>
      <li class="page-nav__item" data-name="inbox">
        <a href="/inbox" tabindex="0" class="page-nav__link"
          ><i class="fas page-nav__icon fa-download"></i> Inbox</a
        >
      </li>
      <li class="page-nav__item" data-name="alltasks">
        <a href="/all" tabindex="0" class="page-nav__link"
          ><i class="far page-nav__icon fa-dot-circle"></i> All tasks</a
        >
      </li>
      <li class="page-nav__item" data-name="today">
        <a href="/today" tabindex="0" class="page-nav__link"
          ><i class="far page-nav__icon fa-star"></i> Today</a
        >
      </li>
      <li class="page-nav__item" data-name="thisweek">
        <a href="/thisweek" tabindex="0" class="page-nav__link"
          ><i class="far page-nav__icon fa-calendar-alt"></i> This week</a
        >
      </li>
      <li class="page-nav__item" data-name="someday">
        <a href="/someday" tabindex="0" class="page-nav__link"
          ><i class="fas page-nav__icon fa-question"></i> Someday</a
        >
      </li>
      <li class="page-nav__item" data-name="waiting">
        <a href="/waiting" tabindex="0" class="page-nav__link"
          ><i class="fas page-nav__icon fa-history"></i> Waiting</a
        >
      </li>
      <li class="page-nav__item" data-name="done">
        <a href="/done" tabindex="0" class="page-nav__link"
          ><i class="fas page-nav__icon fa-check"></i> Done</a
        >
      </li>
    </ul>
  </nav>
  <a href="addtask" tabindex="0" class="skip-inbox"
    >Skip inbox <i class="fas fa-plus"></i
  ></a>
</div>
<div class="sort-by-context">
  <div class="contexts">
    <a href="/outside" class="contexts__item c-outside">@outside</a>
    <a href="/shopping" class="contexts__item c-shopping">@shopping</a>
    <a href="/home" class="contexts__item c-home">@home</a>
    <a href="/computer" class="contexts__item c-computer">@computer</a>
    <a href="/phone" class="contexts__item c-phone">@phone</a>
    <a href="/work" class="contexts__item c-work">@work</a>
  </div>
</div>
