<header class="page-header">
  <img
    src="/images/logo.png"
    class="page-header__logo"
    alt="Mind Cleaner"
  />
  <div>
    <a href="/logout" class="page-header__logout">
      <i class="fas fa-sign-out-alt"></i> Sign out
    </a>
    <!-- <button class="page-header__hamburger">MENU</button> -->
  </div>
</header>
