<header class="page-header">
    <a href="">
        <img src="./images/logo-white.png" class="page-header__logo" alt="Mind Cleaner" />
    </a>
    <button class="page-header__logout"> <i class="fas fa-sign-out-alt"></i> Sign out</button>
</header>