<header class="page-header">
  <img
    src="/images/logo.png"
    class="page-header__logo"
    alt="Mind Cleaner"
  />
  <div class="page-header__wrapper">
    <a href="/logout" class="page-header__logout">
      <i class="fas fa-sign-out-alt"></i>
      <span> Sign out</span>
    </a>
    <button class="page-header__hamburger">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</header>
