<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="<%= urlName %>" data-id=<%= task._id %>>
    <% include partials/page-header %>
    <div class="page-wrapper">
      <% include partials/add-nav %> <% include partials/content-edittask %>
    </div>
  </body>
</html>
