<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %> 
</head>
<body>
    <% include partials/page-header %> 
    <div class="page-wrapper">
        <% include partials/page-nav %>
        <% include partials/content-inbox %>
    </div>
</body>
</html>