<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %> 
</head>
<body class="<%= urlName %>">
    <div class="page-wrapper">
        <% include partials/content-login %>
    </div>
</body>
</html>