/* inbox */

.inbox__thought {
    width: 70%;
    margin: 20px auto;
    border: 1px solid var(--shadow-color);
    box-shadow: 2px 2px 7px 2px var(--shadow-color);
    padding: 15px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.thought__time {
    font-size: .7em;
    padding: 0;
    margin: 10px 5px 0 0;
    color: var(--secondary-color);
}

.thought__analyze {
    color: var(--secondary-color);
    transition: transform .2s linear;
    border: none;
    font-size: .9em;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.thought__analyze:hover {
    transform: translateX(.3em);
}

.delete-thought__send {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    font-family: 'FontAwesome';
    color: rgba(123, 123, 123, 0.35);
    border: none;
}