/* global */

a:hover {
    color: var(--primary-color);
  }

.active>a {
  color: var(--primary-color);
}

/* navbar */

.navbar {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 70px;
    background: var(--primary-color);
    display: flex;
  }
  
.navbar__logo {
    width: 200px;
}
  
