/* global */

* {
  outline-color: var(--secondary-color);
}

::selection {
  background: var(--primary-color);
  color: white;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: var(--desktop-size);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

button, input[type="submit"] {
  background: none;
  cursor: pointer;
}

button{
  border: 1px solid;
  font-size: .9em;
  color: white;
  padding: 10px 20px;
  border-color: white;
}

ul {
  list-style-type: none;
}

.tasks {
  width: 100%;
  text-align: center;
}

.page-header__hamburger {
  display: none;
}

  .add-task__contexts > div {
    margin: 10px 0;
    display: inline;
  }

  
