/* page-header */

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: var(--header-height);
    background: linear-gradient(135deg, var(--primary-color) 20%,var(--extra-color) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }
    
  .page-header__logo {
    width: 180px;
    margin-left: 30px;
  }
  
  .page-header__logout {
    margin-right: 40px;
    font-size: .8em;
  }
  
  .page-header__logout i{
    padding-right: 5px;
  }
  
  /*  page-wrapper */
  
  .page-wrapper {
    display: flex;
  }
  
  /*  page-nav */
  
  .page-nav {
    width: var(--nav-width);
    height: calc(100vh - var(--header-height));
    border-right: 1px solid var(--shadow-color);
    box-shadow: 10px 0 16px -2px var(--shadow-color);
    position: fixed;
    top: var(--header-height);
    background: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  
  .page-nav a:hover {
    cursor: pointer;
  }
  
  .welcome {
    text-align: right;
    padding: 15px;
  }
  
  .welcome__user-name {
    color: var(--secondary-color);
    font-weight: 700;
  }
  
  .page-nav__list {
    margin: 0;
    padding: 0;
  }
  
  .page-nav__item {
    width: 100%;
    border-bottom: 1px solid var(--shadow-color);
    box-sizing: border-box;
    position: relative;
  }
  
  .page-nav__link {
    padding: 10px 25px;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
.page-nav__link::before {
    opacity: 0;
    content: '';
    height: 100%;
    width: 7px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, var(--primary-color) 40%,rgb(148, 122, 172) 100%);
    transition: opacity .3s linear;
  }

  .page-nav__item:hover .page-nav__link::before {
    opacity: 1;
  }

  .page-nav__item--active .page-nav__link::before {
    background: var(--secondary-color);
    opacity: 1;
  }
  
  .page-nav__icon {
    padding: 5px 10px;
    color: var(--text-color);
    opacity: .5;
  }

  .page-nav__icon--sort {
    background: -webkit-linear-gradient(90deg, rgb(103, 167, 66) 0, rgb(103, 167, 66)20%, rgb(204, 115, 182) 20%, rgb(204, 115, 182) 40%, rgb(157, 72, 197) 40%, rgb(157, 72, 197) 60%, rgb(66, 169, 228) 60%, rgb(66, 169, 228) 80%, rgb(228, 125, 66) 80%, rgb(228, 125, 66) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(255,255,255, .8);
  }

  .sort-by-context {
    width: 130px;
    position: fixed;
    left: calc(var(--nav-width) - 131px);
    top: calc(var(--header-height) + 15px);
    background: white;
    border: 1px solid var(--shadow-color);
    border-left: 0px;
    transition: transform .3s ease-in;
  }
  
  .sort-by-context .contexts {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
  }
  
  .sort-by-context .contexts__item {
    display: inline-block;
    width: auto;
    margin: 3px;
    padding: 4px;
  }
  
  
  .sort-by-context--toggle {
    transform: translateX(131px);
    z-index: 1;
  }

  .add-task {
    color: var(--secondary-color);
}