/* full tasks */

.all__task {
  width: 70%;
  margin: 20px auto;
  border: 1px solid var(--shadow-color);
  box-shadow: 2px 2px 7px 2px var(--shadow-color);
  padding: 15px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contexts {
  font-size: 0.7em;
  margin-bottom: 7px;
}

.contexts__item {
  color: white;
  padding: 4px;
  font-weight: 600;
}

.task__name {
  color: var(--secondary-color);
  margin: 3px 0;
  font-size: 1em;
}

.done .task__name {
  text-decoration: line-through;
}

.task__delegation {
  font-size: 0.7em;
  margin: 0;
}

.task__doer {
  font-weight: 600;
}

.task__time {
  font-size: 0.7em;
  margin: 0;
}

.task__details {
  padding: 0px;
  line-height: 1.2em;
  font-size: 0.8em;
}

.task__edit {
  color: var(--text-color);
  padding: 10px;
}

.task__is-done {
  padding: 10px;
  color: var(--secondary-color);
  transition: transform 0.2s linear;
  display: flex;
  justify-content: center;
}

.task__is-done:hover {
  transform: scale(1.25) rotate(5deg);
}

.task__controllers {
  min-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task_set-done {
  padding: 4px;
  font-family: 'FontAwesome';
  color: var(--secondary-color);
  border: none;
}

.task_delete {
  padding: 4px;
  font-family: 'FontAwesome';
  color: var(--secondary-color);
  border: none;
  background: transparent;
}
